body {
    background-color: #ffffff;
    color: #1791C8;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none; /* Metin seçimini engelle */
    cursor: pointer; /* Tıklanabilir olduğuna dair işaret */
}

.timer {
    font-size: 48px;
    margin-bottom: 20px;
}
